// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.homepage-banner {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: 1em;
  overflow: hidden;
  z-index: 1; // Set a lower z-index for the banner
  img {
    width: 100%;
    height: auto;
  }
}

.navbar {
  z-index: 10; // Ensure the navbar has a higher z-index
}

html, body {
  overflow-x: hidden;
}

.post-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
