// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.homepage-banner {
  // margin-left: calc(-1 * $spacing-unit * 0.5); // 通常の表示における左側のパディングを相殺
  // margin-right: calc(-1 * $spacing-unit * 0.5); // 通常の表示における右側のパディングを相殺
  // width: calc(100% + $spacing-unit); // コンテナの実際の幅を補正
  // overflow: hidden;

  // img {
  //   width: 100%;
  //   height: auto;
  // }

  // @media screen and (min-width: $on-large) {
  //   margin-left: calc(-1 * $spacing-unit); // ラージスクリーンでの左側のパディングを相殺
  //   margin-right: calc(-1 * $spacing-unit); // ラージスクリーンでの右側のパディングを相殺
  //   width: calc(100% + ($spacing-unit * 2)); // ラージスクリーンにおけるコンテナの実際の幅を補正
  // }
  width: 100vw;
  position: relative; // 相対位置を指定
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}
