// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// .homepage-banner {
//   width: 100vw;
//   position: relative;
//   left: 50%;
//   right: 50%;
//   margin-left: -50vw;
//   margin-right: -50vw;
//   margin-bottom: 1em;
//   overflow: hidden;
//   z-index: 1; // Lower z-index for the banner
//   img {
//     width: 100%;
//     height: auto;
//   }
// }

/* _sass/minima/custom-styles.scss */
.homepage-banner img {
  width: 100vw;     /* ビューポート全幅 */
  height: auto;
  display: block;
  margin: 0;        /* 余白を殺す */
}

.nav-trigger {
  z-index: 5;
  position: relative; // Ensure the trigger is layered correctly
}

.trigger {
  z-index: 10; // Ensures the dropdown is above the banner
  position: relative;
  background-color: $background-color; // Set a white, non-transparent background
  padding: 1em; // Optional: adds padding around the links for better spacing
  box-shadow: none;
}


html, body {
  overflow-x: hidden;
}

.post-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-link {
  display: block;
  @include relative-font-size(1);
}
